{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <h2 class="pt-4 pb-4">Add new link</h2>
  <form method="post" novalidate>
    {% csrf_token %}
    {{ link_form|crispy }}
    <a class='float-end mb-4' href="{% url 'links:category_create' %}">No category you need yet?</a>
    <div class="btns mt-4">
    <button type="submit" class="btn btn-success">Add link</button>
    <a href="{% url 'links:index' %}" role="button" class="ms-2 btn btn-secondary">Back</a>
    </div>
  </form>   
</div>
{% endblock %}